<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="bio_lab">
    

    <xacro:include filename="$(find ur_moveit_config)/srdf/ur_macro.srdf.xacro"/>

    <xacro:ur_srdf/>

    <group name="gripper">
        <link name="gripper_adapter" />
        <link name="gripper_body" />
        <link name="finger1" />
        <!-- <link name="finger2" /> -->
        <joint name="finger_joint" />
    </group>

    <end_effector name="hand_e" parent_link="tcp_link" group="gripper" parent_group="ur_manipulator" />

    <group_state name="closed" group="gripper">
        <joint name="finger_joint" value="0.025"/>
    </group_state>
    <group_state name="open" group="gripper">
        <joint name="finger_joint" value="0"/>
    </group_state>
    <group_state name="closed_short" group="gripper">
        <joint name="finger_joint" value="0.023"/>
    </group_state>
    <group_state name="closed_long" group="gripper">
        <joint name="finger_joint" value="0.0018"/>
    </group_state>

    <disable_collisions link1="wrist_3_link" link2="gripper_adapter" reason="Adjacent" />
    <disable_collisions link1="gripper_adapter" link2="gripper_body" reason="Adjacent" />
    <disable_collisions link1="gripper_body" link2="finger1" reason="Adjacent" />
    <disable_collisions link1="gripper_body" link2="finger2" reason="Adjacent" />
    <disable_collisions link1="wrist_3_link" link2="gripper_body" reason="Never" />

    <disable_collisions link1="gripper_body" link2="camera_mount" reason="Adjacent" />
    <disable_collisions link1="camera_mount" link2="camera_link" reason="Adjacent" />

    <disable_collisions link1="camera_mount" link2="finger1" reason="Never" />
    <disable_collisions link1="camera_mount" link2="finger2" reason="Never" />
    <disable_collisions link1="camera_link" link2="gripper_body" reason="Never" />

    <disable_collisions link1="base_link_inertia" link2="lab_table" reason="Adjacent"/>
    <disable_collisions link1="shoulder_link" link2="lab_table" reason="Never"/>
</robot>