<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="bio_lab">

  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>
  <!-- Use simulation ros2_control for Gazebo instead of real hardware ros2_control -->
  <xacro:include filename="$(find ur_simulation_gz)/urdf/ur_gz.ros2_control.xacro"/>
  <xacro:include filename="$(find robotiq_hande_description)/urdf/robotiq_hande.urdf.xacro" />


  <xacro:arg name="ur_type" default="ur5e"/>

  <link name="world"/>
  <link name="lab_table">
    <visual>
      <origin xyz="0 0 0.375" rpy="0 0 0"/>
      <geometry><box size="0.8 0.8 0.75"/></geometry>
      <material name="gray"><color rgba="0.5 0.5 0.5 1.0"/></material>
    </visual>
    <collision>
      <origin xyz="0 0 0.375" rpy="0 0 0"/>
      <geometry><box size="0.8 0.8 0.75"/></geometry>
    </collision>
    <inertial>
      <mass value="50.0"/>
      <origin xyz="0 0 0.375" rpy="0 0 0"/>
      <inertia ixx="4.0" ixy="0" ixz="0" iyy="4.0" iyz="0" izz="4.0"/>
    </inertial>
  </link>

  <joint name="world_to_table" type="fixed">
    <parent link="world"/>
    <child link="lab_table"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <xacro:ur_robot
    name="ur5e"
    tf_prefix=""
    parent="lab_table"
    joint_limits_parameters_file="$(find ur_description)/config/$(arg ur_type)/joint_limits.yaml"
    kinematics_parameters_file="$(find ur_description)/config/$(arg ur_type)/default_kinematics.yaml"
    physical_parameters_file="$(find ur_description)/config/$(arg ur_type)/physical_parameters.yaml"
    visual_parameters_file="$(find ur_description)/config/$(arg ur_type)/visual_parameters.yaml"
    safety_limits="false"
    safety_pos_margin="0.15"
    safety_k_position="20"
    force_abs_paths="true">
    <origin xyz="0 0 0.75" rpy="0 0 0" />          
  </xacro:ur_robot>

  <xacro:robotiq_hande_gripper parent="tool0" sim_gazebo="true">
    <origin xyz="0 0 0" rpy="0 0 ${pi}"/>
  </xacro:robotiq_hande_gripper>

  <xacro:ur_ros2_control
    name="ur5e"
    tf_prefix=""
    transmission_hw_interface=""
  />

  <!-- <xacro:robotiq_hande_gripper parent="tool0">
    <origin xyz="0 0 0" rpy="0 0 ${pi}"/>
  </xacro:robotiq_hande_gripper> -->

  <!-- <xacro:ur_ros2_control
    name="ur5e"
    tf_prefix=""
    kinematics_parameters_file="$(find ur_description)/config/$(arg ur_type)/default_kinematics.yaml"
    robot_ip="192.168.56.101"
    script_filename="$(find ur_robot_driver)/resources/ros2_control.urscript"
    input_recipe_filename="$(find ur_robot_driver)/resources/rtde_input_recipe.txt"
    output_recipe_filename="$(find ur_robot_driver)/resources/rtde_output_recipe.txt"
    use_mock_hardware="true"
    mock_sensor_commands="false"
  /> -->

  <gazebo>
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(find closed_loop_dalsa_description)/config/ros2_controllers.yaml</parameters>
    </plugin>
  </gazebo>

  <!-- <gazebo>
    <plugin filename="gz-sim-detachable-joint-system" name="gz::sim::systems::DetachableJoint">
      <parent_link>finger1</parent_link>
      <child_model>sbs_microplate</child_model>
      <child_link>base_link</child_link>
      <attach_topic>/attach_plate</attach_topic>
      <detach_topic>/detach_plate</detach_topic>
    </plugin>
  </gazebo> -->

  </robot>